<ion-header>
  <ion-navbar color="header">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align:center;">
      {{ "DETAILS" | translate }}
    </ion-title>
    <!--ion-buttons end>     
      <button ion-button icon-only>
          <ion-icon name="cube"></ion-icon>
      </button>
    </ion-buttons-->
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event);" class="refresher">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col>
        <p>{{ "CUMULATED" | translate}}</p>
        <h3> {{ cumulated | currency: 'USD': true }} </h3>
      </ion-col>    
    </ion-row>    
  </ion-grid>

  <ion-list>

    <ion-item-sliding *ngFor="let detail of details">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h2 item-center>{{detail.date}}</h2>
              <p item-center *ngIf="detail.type == 1">{{ "INCOMING" | translate}}</p>
              <p item-center *ngIf="detail.type == 2" class="Withdraw">{{ "WITHDRAWALS" | translate}} - {{detail.justification}}</p>              
            </ion-col>
            <ion-col>                
                <h2 style="text-align: right" item-center *ngIf="detail.type == 1" >{{detail.amount | currency : 'USD': true }}</h2>
                <h2 style="text-align: right" item-center *ngIf="detail.type == 2" class="withdraw" >-{{detail.amount | currency : 'USD': true }}</h2>
            </ion-col>
          </ion-row>
        </ion-grid>

        
      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" icon-left (click)="onTrash(detail);">
          <ion-icon name="trash"></ion-icon>
          {{ "DELETE" | translate}}
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>