<ion-header>
  <ion-navbar color="header">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align:center;"> Savings </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onTrash();" *ngIf="saving.id">
          <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-button icon-only (click)="onSave();" [disabled]="!f.valid">
          <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form #f="ngForm">

    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <button ion-fab color="{{category.color}}" item-left style="box-shadow:none;" (click)="openModalCategory();">
                <ion-icon name="{{category.icon}}"></ion-icon>
              </button>
        </ion-col>
        <ion-col>
          <ion-item item-center>
            <ion-input type="text" *ngIf="category" [(ngModel)]="category.name" name="category" placeholder="Choose Category" required
              readonly></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item>
      <ion-label color="primary" stacked>For what you save</ion-label>
      <ion-input type="text" [(ngModel)]="saving.description" name="description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Choose Goal Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" max="2030-12-31" name="date" [(ngModel)]="saving.goaldate"
      monthNames="{{ 'MONTHNAMES' | translate}}"
       monthShortNames="{{ 'MONTHSHORTNAMES' | translate}}"></ion-datetime>
    </ion-item>    

    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <button ion-fab color="add-item" item-left style="box-shadow:none;" (click)="openCalc();">
                    <ion-icon name="cash"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <ion-item item-right>
            <p>{{ saving.amount | currency : 'USD': true }}</p>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>