<ion-header>
  <ion-navbar color="header">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align:center;">
      {{ 'TRANSACTIONS_TITLE' | translate }}
    </ion-title>
    <ion-buttons end>      
      <button ion-button icon-only (click)=onExport();>
          <ion-icon name="md-mail"></ion-icon>
      </button>
      <button ion-button icon-only (click)=doFilter();>
          <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event);" class="refresher">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col>
        <p>{{ 'INCOMES' | translate }}</p>
        <h3 *ngIf="expense"> {{ expense.totalIncomes | currency: 'USD': true }} </h3>
      </ion-col>
      <ion-col>
        <p>{{ 'EXPENSES' | translate }}</p>
        <h3 *ngIf="expense"> {{ expense.totalExpenses | currency: 'USD': true }} </h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>{{ 'BALANCE' | translate }}</p>
        <h3 *ngIf="expense"> {{ expense.balance | currency: 'USD': true }} </h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="expense">

    <ion-item-sliding *ngFor="let expense of expense.expenses">
      <ion-item (click)="onItemClick(expense);">

         <button ion-fab color="{{expense.category.color}}" item-left style="box-shadow:none;">
            <ion-icon name="{{expense.category.icon}}"></ion-icon>
        </button>

        <h2 item-center *ngIf="expense">{{expense.amount | currency: 'USD': true }}</h2>
        <p item-center *ngIf="expense"> {{expense.date | date}} - {{expense.description}}</p>
        <ion-note item-right *ngIf="expense">{{expense.category.name}}</ion-note>

      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" icon-left (click)="onTrash(expense);">
          <ion-icon name="trash"></ion-icon>
          {{ 'DELETE' | translate }}
        </button>
        <button ion-button color="add-item" icon-left (click)="onShareWhatsApp(expense);">
          <ion-icon name="logo-whatsapp"></ion-icon>
          {{ 'SHARE' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <br>
  <ion-fab right bottom>
    <button ion-fab color="add-item" (click)="onAddClick()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>