// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  cash:       #07DF4F,
  header:     #6c699c,
  add-item:   #5ec3ab,
  warm-1:#00c4cc,
  warm-2:#fe491a,
  warm-3:#f7b733,
  warm-4:#f0a97e,
  warm-5:#078b93,
  warm-6:#a33acb,
  warm-7:#9099a2,
  warm-8:#3cc37e,
  warm-9:#eac892,
  warm-10:#ddb03a,
  warm-11:#e44e40,
  warm-12:#eb6c80,
  warm-13:#018d96,
  warm-14:#8d8d8d,
  warm-15:#f3decd,
  warm-16:#91628e,
  warm-17:#4484ce,
  warm-18:#e9d542,
  warm-19:#01524b,
  warm-20:#01524b,
  warm-21:#04514a,
  warm-22:#a4a4b0,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
