.mainMenu{
    background-color: #5ec3ab;
}

ion-list.mainMenu button.item-block {
    background-color: #5ec3ab;
    color: white;
}

.profile-card {
  box-shadow : none;
}

div.datepicker-modal-buttons[_ngcontent-c0]{   
    position: inherit; 
    width: 100%;
    bottom: 0px;    
    display: flex;
}

button.datepicker-ok-js.button.button-clear.button-small.disable-hover.button.button-ios.button-default.button-default-ios{
    background-color: white;
    color: blue;
}

button.button.datepicker-cancel-js.button.button-clear.button-small.col-offset-33.disable-hover.button.button-ios.button-default.button-default-ios{
    background-color: white;
    color: blue;
}

div.datepicker-balanced[_ngcontent-c0], div.datepicker-balanced-light[_ngcontent-c0] {
    background-color: #5e6597;
}

.fab{
    width: 46px;
    height: 46px;
}