<ion-menu [content]="content">
  <ion-content>
    <ion-item class="bgd" item-width="120%" style="padding-left:0%;">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="profile-photo" *ngIf="userProfile.photoURL">
              <img src="{{userProfile.photoURL}}">
            </div>
            <div class="profile-photo" *ngIf="!userProfile.photoURL">
              <img src="assets/userdafault.png">
            </div>
          </ion-col>
          <ion-col>
            <h2 style="color: #5a5a59;">{{userProfile.displayName}}</h2>
            <p style="color:white;">{{userProfile.email}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
        <ion-icon name="{{p.icon}}" item-left></ion-icon>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>