<ion-header>
  <ion-navbar color="header">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align:center;">{{expense.description || 'NEW_EXPENSE' | translate }} </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onTrash()" *ngIf="expense.id">
          <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-button icon-only (click)="onSave()" [disabled]="!f.valid">
          <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form #f="ngForm">

    <ion-item>
      <ion-label color="primary" floating>{{ 'DATE' | translate }}</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" name="date" [(ngModel)]="expense.date" monthNames="{{ 'MONTHNAMES' | translate}}"
        monthShortNames="{{ 'MONTHSHORTNAMES' | translate}}"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>{{ 'AMOUNT' | translate }}</ion-label>
      <ion-input type="number" [(ngModel)]="expense.amount" name="amount"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary">{{ 'INCOMING' | translate }}</ion-label>
      <ion-toggle color="add-item" [(ngModel)]="expense.incoming" name="incoming"></ion-toggle>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <button ion-fab *ngIf="category" color="{{category.color}}" item-left style="box-shadow:none;" (click)="openModalCategory();">
                <ion-icon *ngIf="category" name="{{category.icon}}"></ion-icon>
              </button>
        </ion-col>
        <ion-col>
          <ion-item item-center>
            <ion-input type="text" placeholder="{{ 'CHOOSE_CATEGORY' | translate }}" *ngIf="category" [(ngModel)]="category.name" name="category"
              required readonly></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item>
      <ion-label color="primary" stacked>{{ 'DESCRIPTION' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="expense.description" name="description" required></ion-input>
    </ion-item>

    <ion-item>
      <br>
      <h3>{{ 'RECIEPT' | translate }}</h3>
      <br>
      <img src="{{pathForImage(lastImage)}}" style="width: 100%" [hidden]="lastImage === null">
    </ion-item>

  </form>
</ion-content>

<ion-footer>
  <ion-toolbar color="add-item" style="text-align: center;">
    <ion-buttons>
      <button ion-button icon-left (click)="presentActionSheet()">
        <ion-icon name="camera"></ion-icon>{{ 'SELECT_IMAGE' | translate }}
      </button>
      <!--button ion-button icon-left (click)="uploadImage()" [disabled]="lastImage === null">
        <ion-icon name="cloud-upload"></ion-icon>Upload
      </button-->
    </ion-buttons>
  </ion-toolbar>
</ion-footer>